html，body{
    width: 100%;
    font:12px "微软雅黑" ;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.wrapper{
    width: 1080px;
    margin: 0 auto;
}
.top{
    background-color:#333;
}
.top .wrapper{
    background-color: white;
}